APP_URL=http://localhost:5173
APP_ENV=development
BETTER_AUTH_SECRET=
RESEND_API_KEY=
BETTER_AUTH_ADMIN_USER_ID=
# {{#if hasGithub}}
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# {{/if}}
# {{#if hasGoogle}}
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# {{/if}}
